@model UserAdministrator
@using SEP_Web.Models
@using SEP_Web.Keys
@{
    ViewData["Title"] = "Cadastro de usuário";
}

<div class="container">

    <h1 class="text-center mt-5 mb-3">@ViewData["Title"]</h1>

    <form asp-controller="UserAdministrator" asp-action="Register" method="post">

        <div class="row">

            <div class="col-md-6 register-col">

                <div class="form-group">
                    <label for="user-masp">MASP</label>
                    <input type="number" placeholder="Nº do MASP" class="form-control" id="user-masp" name="masp"
                        asp-for="Masp" />
                    @Html.ValidationMessageFor(x => x.Masp)
                </div>

                <div class="form-group">
                    <label for="user-name">Nome</label>
                    <input type="text" placeholder="Nome completo" maxlength="50" minlength="10" class="form-control"
                        id="user-name" name="Name" asp-for="Name" />
                    @Html.ValidationMessageFor(x => x.Name)
                </div>

                <div id="login-input" class="form-group">
                    <label for="user-login">Login</label>
                    <input type="text" placeholder="Nome de login" maxlength="35" minlength="10" class="form-control"
                        id="user-login" name="login" asp-for="Login" />
                    @Html.ValidationMessageFor(x => x.Login)
                </div>


                <div class="form-group">
                    <label for="user-password">Senha</label>
                    <input type="password" placeholder="Informe uma senha" maxlength="100" class="form-control"
                        id="user-password" name="password" asp-for="Password" />
                    @Html.ValidationMessageFor(x => x.Password)
                </div>

            </div>

            <div class="col-md-6 register-col">

                <div class="form-group">

                    <label for="user-email">E-mail</label>
                    <input type="text" placeholder="Informe seu e-mail" class="form-control" id="user-email"
                        name="email" asp-for="Email" />
                    @Html.ValidationMessageFor(x => x.Email)

                </div>

                <div class="form-group">

                    <label for="user-phone">Telefone</label>
                    <input type="text" placeholder="XX XXXX-XXXX" class="form-control" id="user-phone" name="phone"
                        asp-for="Phone" />
                    @Html.ValidationMessageFor(x => x.Phone)

                </div>

                <div class="form-group">

                    <label for="user-position">Cargo</label>
                    <input type="text" placeholder="Seu cargo" maxlength="35" minlength="10" class="form-control"
                        id="user-position" name="Position" asp-for="Position" />
                    @Html.ValidationMessageFor(x => x.Position)

                </div>

                <div class="form-group">

                    <label for="user-confirmPass">Confirmar Senha</label>
                    <input type="password" placeholder="Confirme sua senha" maxlength="100" class="form-control"
                        id="user-confirmPass" name="confirmPass" />
                    <span class="field-validation-error">@TempData["ErrorPass"]</span>

                </div>

            </div>

            <div class="hidden-id form-group">
                <input type="hidden" value="@UserTypesEnum.User_Admin" class="form-control" id="user-type"
                    name="userType" asp-for="UserType" />
            </div>

        </div>

        <div class="form-group mb-3 mt-3">
            <button type="submit" class="btn btn-primary mb-5">Cadastrar</button>
        </div>

    </form>

</div>