@model UserAdministrator
@using SEP_Web.Models
@using SEP_Web.Keys
@{
    ViewData["Title"] = "Cadastro de usuário";
}

<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="d-flex justify-content-center align-items-center">
                <div class="adm-line"></div>
                <i style="font-size: 10vh; color: #0077cc;" class="bi bi-person-circle"></i>
                <div class="adm-line"></div>
            </div>

            <form class="register-adm-form" asp-controller="UserAdministrator" asp-action="Register" method="post">

                <input type="hidden" value="@UserTypesEnum.User_Admin" class="form-control" id="user-type"
                    name="userType" asp-for="UserType">

                <div class="row">
                    <div class="col-md-6 adm-col">
                        <div class="form-group">
                            <input type="number" class="form-control" id="user-masp" name="masp" asp-for="Masp"
                                placeholder="Nº do MASP">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Masp)
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="user-name" name="Name" asp-for="Name"
                                placeholder="Nome completo" maxlength="50" minlength="10">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="user-login" name="login" asp-for="Login"
                                placeholder="Nome de login" maxlength="35" minlength="10">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Login)
                            </div>

                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="user-email" name="email" asp-for="Email"
                                placeholder="Informe seu e-mail">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Email)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 adm-col">
                        <div class="form-group">
                            <input type="tel" class="form-control" onkeyup="handlePhone(event)" id="user-phone" name="phone" asp-for="Phone"
                                placeholder="(XX) XXXXX-XXXX">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Phone)
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="user-position" name="Position"
                                asp-for="Position" placeholder="Seu cargo" maxlength="35" minlength="10">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Position)
                            </div>

                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="user-password" name="password"
                                asp-for="Password" placeholder="Informe uma senha" maxlength="100">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Password)
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="user-confirmPass" name="confirmPass"
                                placeholder="Confirme sua senha" maxlength="100">
                            <div class="validate-fields">
                                <span class="field-validation-error">@TempData["ErrorPass"]</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Cadastrar </button>
                    <button asp-controller="UserAdministrator" asp-action="Index" type="submit" class="btn btn-secondary" title="Cancelar"><i class="bi bi-arrow-return-left" title="Cancelar"></i></button>
                </div>

            </form>

        </div>

    </div>

</div>